<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <b>ArtSled</b>
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Головна</a>
          </li>
          <li>
            <a href="/blog/">Блог</a>
          </li>
          <li>
            <a href="/about/">Автор</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>