---
title: 'Автор'
layout: 'base.njk'
---

<article class="main-article">
    <div class="container container--narrow flow">
        <h1 class="article-title">
            {{ title}}
        </h1>
        <figure class="main-article__figure">
            <img
                src="https://images.unsplash.com/photo-1559163304-2bd8f8600164?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="https://unsplash.com/@unsplash">
            <figcaption>
                Данне зображення було надбане
                <a href="https://unsplash.com/@unsplash" target="_blank" rel="noopener noreferrer">@unsplash</a>
            </figcaption>
        </figure>
        {# {{content | safe}} #}
        <p>Фронтенд-розробник, який любить створювати цікаві та якісні веб-сайти. Маю 18 зірок на <a href="https://github.com/sledua" target="_blank" rel="noopener noreferrer">GitHub</a>, де я демонструю свої проекти та навчальні матеріали.</p>
        <p>Захоплуюсь геймдевом та експериментами з платформою <a href="https://www.unrealengine.com/en-US" target="_blank" rel="noopener noreferrer">Unreal Engine</a>. Беру участь у різних челенджах та конкурсах, таких як <a href="https://www.frontendmentor.io/profile/sledua" target="_blank" rel="noopener noreferrer">Frontend Mentor</a>, де показую свої навички та креативність.</p>
        <p>Активний та цілеспрямований розробник, який постійно вдосконалює свої знання та ділюсь ними з іншими.</p>
    </div>
</article>