---
title: Головна
layout: 'base.njk'
---

<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h1 class="section-title">Вітаю в моєму блозі !</h1>
      <p>Ласкаво просимо до мого блогу, де я ділюся своїми ідеями та досвідом у сфері фронтенд розробки, творчості та
        геймдеву. Я захоплююся створенням цікавих та якісних веб-сайтів, а також експериментую з різними інструментами та
        платформами для розробки ігор.</p>
      <p>У цьому блозі ви знайдете корисні поради, навчальні матеріали, приклади проектів та огляди новинок у світі фронтенду
        та геймдеву. Особливу увагу я приділяю платформі Unreal Engine, яка дозволяє створювати захоплюючі ігри з високою якістю
        графіки та фізики. Я сподіваюся, що мій блог буде цікавим та корисним для вас!</p>
      <div class="flex-group">
        <a href="#featured-articles" class="btn btn--primary">Вперед до читання</a>
        <a href="./blog" class="btn btn--neutral">До блогу</a>
      </div>
    </div>
    <div>
      <img src="//unsplash.it/510" alt="" class="hero__image">
    </div>
  </div>
</section>
<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Технічні статті</h2>
    <p class="text-center">Коли все вже вигаданно то залишаеться тільки відтворити</p>
    <ul role="list" class="articles__list flow">
      {% for post in collections.post %}
        {% include 'article-snippet.njk'%}
      {% endfor %}
    </ul>
  </div>
</section>